html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

.content {
    font-family: sans-serif;
    height: 100%;
}

.navHeader {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    top: 0;
    position: sticky;
    z-index: 10;
    overflow-x: hidden;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navLink {
    margin: 0.25em 1em;
    padding-bottom: 0.25em;
    color: white;
    text-decoration: none;
    border-bottom: 0.05em solid transparent;
}

.navLink:hover {
    cursor: pointer;
    border-bottom: 0.05em solid white;
}

.orderList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.orderItem {
    width: 20%;
    height: auto;
    text-align: center;
    transition: all ease 0.2s;
    background: white;
}

.orderItem:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0rem 1rem -0.1rem rgba(0, 0, 0, 0.1);
    border-radius: 2%;
}

.itemImage {
    width: 70%;
    height: auto;
    aspect-ratio: 1/1;
    background-color: grey;
    margin: 2rem auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    border-top: 0.05em solid darkgrey;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(1rem);
}

.footer p {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-size: 8pt;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.textColumn {
    padding: 0 1rem;
}

@media only screen and (max-width: 750px) {
    .orderItem {
        width: 33%;
    }

    .navHeader {
        padding: 0 1rem;
    }

    .navLinks {
        display: flex;
        flex-direction: column;
    }

    .navLink {
        align-self: end;
    }
}
