.checkoutTable {
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
}

.checkoutTable th,
.checkoutTable td {
    border: 0.5px solid lightgrey;
    padding: 0.5em 0.5em;
}

.headerRow th {
    background: #eee;
}

.idCell {
    text-align: center;
    font-family: monospace;
}

.incrCell {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input {
    padding: 0.5em;
    border: 1px solid grey;
}

.itemName {
    text-align: left;
    width: 70%;
}

.itemPrice {
    width: 20%;
    text-align: right;
}

.itemQty {
    display: flex;
    flex-direction: column;
    min-width: 20%;
}
