.incrementor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
    max-width: min-content;
    align-self: center;
    border-top: 0.05em solid grey;
    border-bottom: 0.05em solid grey;
    border-radius: 0.3em;
}

.incrementor span {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5px 1em;
    align-self: center;
}

.incrementor button {
    height: 1.5rem;
    font-size: 1em;
}

.incButton {
    width: 100%;
}

.count {
    font-size: 1em;
    height: 1.8em;
    width: 3em;
    text-align: center;
    border: none;
    border-radius: 0;
    outline: 0;
}

@media only screen and (max-width: 750px) {
    .count {
        width: 2em;
        height: 1.5rem;
    }
}
