.inventoryPanel {
    
}
.inventoryList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}
