.inventoryPanel {
    
}
.inventory_list{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    text-align: left;
    margin: 10px;
    border-radius:4px;
    background: #f0f0f0;
    float: inline;
    padding: 1rem;
}
