.markdownArea h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

.markdownArea code {
    padding: 0.4em 0.6em;
    background-color: #333;
    border-radius: 0.5em;
    color: #f9f9f9;
    line-height: 1.5em;
}

.markdownArea pre {
    padding: 0.4em 0.6em;
    background-color: #333;
    border-radius: 0.5em;
    color: #f9f9f9;
}

.markdownArea pre code {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    color: #f9f9f9;
}

.markdownArea p {
    line-height: 1.5em;
}

.markdownArea {
    margin: 2.5%;
}
