.orderList {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}
/* shipment panel */
.shipmentPanel
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.shipment {
    transition: box-shadow .3s;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    text-align: left;
    margin: 10px;
    border-radius:4px;
    background: #f0f0f0;
    float: inline;
    padding: 1rem;
}

.shipment:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
